.home main > div:nth-child(1) {
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("https://www.vinted.fr/assets/seller-promotion/default/banner_wide-057c3bafd7e0dbe2f8d69df7e51192d9a15ffd002eca2b01364fb7b08bb9a52d.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
/* animation photo */

.text-focus-in {
  -webkit-animation: text-focus-in 4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.home svg {
  height: 55px;
}

.container-offer {
  width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeOfferItem {
  width: 235px;
  margin-bottom: 30px;
  outline: none;
  text-decoration: none;
  position: relative;
}
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 3.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 3.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-800px) rotateX(-30deg) scale(0);
    transform: translateY(-800px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-800px) rotateX(-30deg) scale(0);
    transform: translateY(-800px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.homeOfferItem p,
.homeOfferItem span {
  color: grey;
}
.homeOfferItem > div:nth-child(1) {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homeOfferItem > div:nth-child(1) img {
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}
.homeOfferItem > img:nth-child(2) {
  height: 360px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.homeOfferItem > img:nth-child(2):hover {
  filter: contrast(347%) invert(88%);
  -webkit-filter: contrast(347%) invert(88%);
  -moz-filter: contrast(347%) invert(88%);
  transition: 1.5s;
}
.homeOfferItem > div:nth-child(3) {
  margin-top: 13px;
  position: relative;
}
.homeOfferItem > div:nth-child(3) strong {
  font-size: 15px;
  color: black;
}
.homeOfferItem .favorite {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}
.home .limit-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(158, 155, 155);
}
.home .limit-page input {
  box-sizing: border-box;
  margin-right: 20px;
  width: 60px;
  outline-color: var(--blue-color);
  border: slateblue 1px solid;
  border-radius: 5px;
}
