.Offers b {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}

.Offers .update-button {
  color: var(--blue-color);
  cursor: pointer;
}
.Offers .delete-button {
  color: rgb(255, 0, 106);
  cursor: pointer;
}
.Offers .delete-button:hover,
.Offers .update-button:hover {
  color: black;
}
.Offers .noOffer {
  height: 85vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Offers .noOffer p {
  font-size: 5vw;
  color: var(--blue-color);
}
