header {
  display: flex;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  justify-content: space-evenly;
}
.scale-out-hor-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 103px;
  background-color: rgb(255, 255, 255);
  -webkit-animation: scale-out-hor-right 4.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-hor-right 4.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

header img {
  width: 100px;
  margin-right: 45px;
  cursor: pointer;
}
header .search {
  width: 630px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-right: 1px darkgrey solid;
  border-bottom: 1px solid darkgrey;
  border-bottom-right-radius: 5px;
}
header .search :nth-child(1) {
  color: rgb(221, 221, 221);
  margin-left: 5px;
  margin-right: 10px;
  font-size: 17px;
}
header .search input {
  width: 100%;
  height: 40px;
  background-color: rgb(247, 247, 247);
  border: none;
  font-size: 17px;
  outline: none;
  border-bottom-right-radius: 5px;
}
header .option {
  display: flex;
  width: 630px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .option p {
  display: none;
  color: var(--blue-color);
}
header .option:hover p {
  display: inherit;
}
header .option > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .option > div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .option > div:nth-child(2) .MuiSlider-colorPrimary {
  color: var(--blue-color);
}

header button {
  height: 30px;
  width: 115px;
  border: 1px solid var(--blue-color);
  background-color: white;
  font-size: 12px;
  border-radius: 5px;
  color: var(--blue-color);
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
header button:hover {
  color: white;
  background-color: var(--blue-color);
}
header div + button {
  margin-right: 20px;
}

header div + button + button + button {
  background-color: var(--blue-color);
  color: white;
  border: none;
}
header .log-out-color {
  background-color: #ff006a;
  color: white;
  border: none;
}
header .log-out-color:hover {
  border: 1px solid #ff006a;
  background-color: white;
  color: #ff006a;
}
