:root {
  --blue-color: rgb(39, 189, 189);
}
.loading p {
  text-align: center;
  line-height: 90.2vh;
  font-size: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-shadow: 4px 4px 2px rgb(39, 189, 189);
  cursor: wait;
  margin: 1px;
  border: solid 5px rgb(0, 255, 255);
}

.buttton-drawer {
  position: fixed;
  top: 50vh;
  right: 15px;
  z-index: 1000;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.5s;
}
.buttton-drawer:hover {
  opacity: inherit;
}
.buttton-drawer-isActive {
  opacity: inherit;
}
.icon-drawer {
  color: black;
  font-size: 20px;
  transition: 1s;
}
.icon-drawer:hover,
.icon-isActive {
  font-size: 60px;
  color: var(--blue-color);
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 18s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 18s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@import "./Components//Header/Header.css";
@import "./Pages//Home/Home.css";
@import "./Pages//OfferPage/OfferPage.css";
@import "./Pages//LoginAndSignUpPage/LoginAndSignUpPage.css";
@import "./Pages/PublishPage/PublishPage.css";
@import "./Pages/PaymentPage/PaymentPage.css";
@import "./Components//Drawer/Drawer.css";
@import "./Pages/Support/Support.css";
@import "./Pages/About/About.css";
@import "./Pages//Contact/Contact.css";
@import "./Pages//Offers/Offers.css";
@import "./Pages//Donation/Donation.css";
@import "./Pages//Profile/Profile.css";
@import "./Pages//Favors/Favors.css";
@import "./Pages/OfferUpdate/OfferUpdate.css";
